@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap');


:root {
   --main-color: #FFD700;
   --black: #13131a;
   --bg: #010101;
   --border: .1rem solid rgba(255,255,255, .3);
}

*{
    font-family: 'poppins' ,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

html ::-webkit-scrollbar-track{
    background: .8rem;
}
html ::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

section {
    padding: 2rem 7%;
    background: var(--bg);
}

.heading {
    margin-top: 100px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}
.banner{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    transition: 0.5s;
    padding: 4rem 7%;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #FFD700;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #FFD700,
        0 0 25px #FFD700
}

.btn:hover{
    box-shadow: 0 0 5px #FFD700
        0 0 25px #FFD700, 0 0 50px #FFD700,
        0 0 100px #FFD700, 0 0 200px
}

.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header .logo img{
    height: 6rem;
}
.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}
.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: var(--main-color);
}

.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}
.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-left: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover{
    color: var(--main-color);
}


.home-content {
    max-width: 600px;
    margin-top: 200px;
}

.home-content h3 { 
    font-size: 32px;
    font-weight: 700; 
    color: #FFD700; 
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
    
.home-content h3:nth-of-type(2) { 
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
    
.home-content h1{
    font-size: 56px; 
    font-weight: 700; 
    margin: -3px 0; 
    color: #fff;
    Opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h1 span{ 
    color: var(--main-color);
}
    
.home-content p {
    font-size: 20px; 
    color: #FFD700;
    opacity: 1;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
    
.home-sci a{  
    display: inline-block;
    justify-content: center; 
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #FFD700;
    border-radius: 50%;
    font-size: 20px;
    color: #FFD700;
    text-decoration: none;
    transition: .5s ease; 
    opacity: 1;
    margin: 30px 15px 30px 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.home-sci :hover{
    background: #FFD700;  
    color: #000000;
    box-shadow: 0 0 20px #FFD700;
}

.btn {
    display: inline-block; 
    padding: 12px 28px; 
    background: #FFD700; 
    border-radius: 40px; 
    font-size: 16px; 
    color: #081b29; 
    letter-spacing: 1px; 
    text-decoration: none;
    font-weight: 600; 
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #FFD700, 
         0 0 25px #FFD700
}

.btn:hover{
    box-shadow: 0 0 5px #FFD700,
    0 0 25px #FFD700, 0 0 50px #FFD700,
    0 0 100px #FFD700, 0 0 200px #FFD700
}

.imgBox { 
    width: 600px;
    display: flex;
    justify-content: flex-end; 
    margin-top: 100px; 
    opacity: 99%;
}
    
.imgBox img { 
    max-width: 540px; 
    margin-top: 200px;    
}

.thumb { 
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
    transition: 0.5s;
} 

.thumb li:hover {
    transform: translateY(-15px);
}

.thumb li img {
    max-width: 120px;
}

.circle {
    position: absolute;
    top: 1;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    clip-path: circle(700px at right 900px);
}

.about .row{
    margin-top: 100px;
    display: flex;
    align-items: center;
    background: var(--border);
    flex-wrap: wrap;
}

.about .row .image{
    flex: 1 1 45rem;
    padding-left: 160px;
}

.about .row .image img{
    width: 70%;
}

.about .row .content{
    flex: 1 1  45rem;
    padding: 2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #FFD700;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}



.menu .box-container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}
.menu .box-container .box img{
    height: 15rem;
}
.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding: .5rem 0;
}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover{
    background-color: #fff;
}

.menu .box-container .box:hover>*{
    color: var(--black);
}



.Products .box-container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.Products .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 2rem;
}

.Products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: #fff;
    margin: 1rem;
}

.Products .box-container .box .icons a:hover{
    background: #90999f;
}

.Products .box-container .box .image{
    padding: 2.5rem 0;
}
.Products .box-container .box .image img{
    height: 25rem;
}

.Products .box-container .box .content h3{
    color: #fff;
    font-size: 2.5rem;
}

.Products .box-container .box .content .stars{
    padding: 1.5rem;
}

.Products .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}

.Products .box-container .box .content .price{
    color: #fff;
    font-size: 2.5rem;
}

.Products .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}



.review .box-container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container .box .quote {
    max-width: 100%; 
    height: auto; 
    margin: 0 auto; 
}


.review .box-container .box p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem 0;
}

.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}

.review .box-container .box .stars i{
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}



.blogs .box-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 1.5rem;
}

.blogs .box-container .box{
    border: var(--border);
}

.blogs .box-container .box .image{
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blogs .box-container .box .content{
    padding: 2rem;
}

.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
}

.blogs .box-container .box .content .title:hover{
    color: var(--main-color);
}

.blogs .box-container .box .content span{
    color: var(--main-color);
    display: block;

    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}



.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    font-size: 1.6rem;
    line-height: 1.8; 
    font-family:  'poppins' ,sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo img {
    width: 100px; 
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 5px 0;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-contact p {
    margin: 5px 0;
}

.social-icon {
    font-size: 24px;
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #555;
}












@media(max-width:991px ) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }
    
}

@media(max-width:768px) {
    #menu-btn {
        display: inline-block;
    }

    .home-content, .home-sci, p, br {
        position: relative;
        z-index: 2;
    }
    .changeCircleColor {
        position: relative;
        z-index: 1;
    }

    .thumb {
        width: 60px;
        height: 60px;
    }

    .header.navbar.active {
        right: 0;
    }

    .header.navbar a {
        color: var(--black);
    }
    .header .search-form{
        width: 90%;
        right: 2rem;
    }
}

@media(max-width:450px){
    html {
        font-size: 50%;
    }

    .home-content, .home-sci, .banner, .navbar,  p, br {
        position: relative;
        z-index: 2;
    }
    .changeCircleColor {
        position: relative;
        z-index: 1;
    }
}

.thumb {
    width: 40px;
    height: 40px;
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideleft{
    0%{
        transform: translateX(100px);
        opacity: 1;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}